@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Log In</h2>
@using (Html.BeginForm())
{
    <h4 class="text-danger">@Html.ValidationSummary()</h4>
    <div class="form-group" align="center">
        <label>Name</label>
        @Html.TextBox("login", null, new { @class = "form-control" })
    </div>
    <div class="form-group" align="center">
        <label>Password</label>
        @Html.Password("password", null, new {@class = "form-control"})
    </div>
    <div align="center">
        <button type="submit" class="btn btn-primary">Log In</button>
        <button type="reset" class="btn btn-primary">Reset</button>
    </div>
    
}
<div class="col-md-">
    <h3>Don`t have account?</h3>
        @Html.ActionLink("Register", "Register")
</div>
