@model WebUI.Models.RegisterUserModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>
@using (Html.BeginForm())
{
    <h4 class="text-danger">@Html.ValidationSummary()</h4>
    <div class="form-group" align="center">
        <label>Name</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div class="form-group" align="center">
        <label>Password</label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    </div>
    <div class="form-group" align="center">
        <label>Repeat password</label>
        @Html.PasswordFor(x => x.RepeatPassword, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}
